*{
  box-sizing: border-box;
  margin: 0;
  font-family: monospace;
  user-select: none;
}

body{
  height: 100vh;
  background-color: ghostwhite;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.drum-pad{
  height: 80%;
  width: 80%;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  font-size: 30px;
  background-color: grey;
}

#pads{
  display: grid;
  justify-items: center;
  align-items: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  width:100%;
}

#drum-machine{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  width: 800px;
  height: 500px;
  background-color: darkgrey;  
}

#display{
  width: 150px;
  height: 50px;
  background-color: grey;
  margin: 80px;
  border: 3px solid black;
}
